<style>
    input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
    input.ng-dirty.ng-valid {border: 2px solid #6bc502 }
</style>

<div class="bg-info p-a-1 m-b-1">
    Model Data: {{jsonProduct}}
</div>

<form novalidate #form="ngForm" (ngSubmit)="submitForm(form)">
    <div class="bg-danger p-a-1 m-b-1" *ngIf="formSubmitted && form.invalid">
        There are problems with the form
        <ul>
            <li *ngFor="let error of getFormValidationMessages(form)">
                {{error}}
            </li>
        </ul>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name" [(ngModel)]="newProduct.name" #name="ngModel" required minlength="5" pattern="^[A-Za-z ]+$" />
        <ul class="text-danger" *ngIf="(formSubmitted || name.dirty) && name.invalid">
            <li *ngIf="name.errors?.required">
                You must enter a product name
            </li>
            <li *ngIf="name.errors?.pattern">
                Product names can only contain letters and spaces
            </li>
            <li *ngIf="name.errors?.minlength">
                Product names must be at least {{name.errors.minlength.requiredLength}} characters
            </li>
        </ul>   
    </div>
    <div class="form-group">
        <label>Category</label>
        <input class="form-control" name="category" [(ngModel)]="newProduct.category" #category="ngModel" required minlength="5" pattern="^[A-Za-z ]+$" />
        <ul class="text-danger" *ngIf="(formSubmitted || category.dirty) && category.invalid">
            <li *ngFor="let error of getValidationMessages(category)">
                {{error}}
            </li>
        </ul>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input class="form-control" name="price" [(ngModel)]="newProduct.price" #price="ngModel" required pattern="^[0-9\.]+$" />
        <ul class="text-danger" *ngIf="(formSubmitted || price.dirty) && price.invalid">
            <li *ngFor="let error of getValidationMessages(price)">
                {{error}}
            </li>
        </ul>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="formSubmitted && form.invalid" [class.btn-secondary]="formSubmitted && form.invalid">
        Create
    </button>
</form>
